modules = ["python-3.11"]
[agent]
integrations = ["styling_replit==1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "ffmpeg-full"]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "python main.py"]
